@font-face {
    font-family: 'JetBrainsMono-Regular';
    src: local('JetBrainsMono-Regular'), url(../fonts/JetBrainsMono-Regular.ttf);
}

h1 {
    font-family: JetBrainsMono-Regular;
    font-size: 52px;
    margin: 100px;
    color: goldenrod;
}

.about-box {
    margin-left: 90px;
    width: 600px;
    background-color: goldenrod;
}

.paragraph {
    margin-left: 30px;
    padding: 20px;
}

.backToMenu {
    margin: 0 auto;
    margin-left: 40px;
    padding: 30px;
    font-size: 18px;
    text-decoration: none;
    color: goldenrod;
    text-align: center;
    align-items: center;
    font-family: JetBrainsMono-Regular;
}

.backToMenu:hover {
    color: grey;
}