@media (max-width: 600px) { #chat { display: none; } }
@media (min-width: 600px) { #chat { display: none; } }
@media (min-width: 768px) { #chat { display: none; } }
@media (min-width: 992px) {
    #chat {
        display: block;
        margin-top: 6em;
        padding: .2em;
        padding-left: .9em;
        width: 22em;
        height: 30.5em;
        background-color: var(--secondary-color);
        color: var(--bg-color);
        border: .1875rem solid var(--primary-color);
        border-radius: .3125rem;
        box-shadow: 0px 0px 30px var(--secondary-color);
    }
    
    #chat h4 {
        padding: .75em;
        text-align: center;
        text-shadow: .2rem .2rem .4rem var(--primary-color);
    }
    
    #chat table {
        display: block;
        padding: .3em;
        height: 23.75rem;
        color: var(--primary-color);
        font-size: .875rem;
        background-color: var(--bg-color);
        overflow-y: scroll;
        overflow-wrap: break-word;
        max-height: 25rem;
    }
    
    #chat form {
        display: block;
        text-align: center;
    }
    
    #chat input {
        padding: .5em;
        color: var(--primary-color);
        background-color: var(--bg-color);
        border: .125rem solid var(--bg-color);
        border-radius: .1875rem;
        outline: none;
    }
    
    #chat button {
        margin-top: 1.55em;
        margin-left: .8em;
        height: 1.875rem;
        width: 5rem;
        background-color: var(--bg-color);
        color: var(--light-color);
        border: .05rem solid var(--bg-color);
        border-radius: .3rem;
    }
    
    .user-message {
        padding-right: .3em;
    }
    
    .user-link {
        text-decoration: none;
        color: var(--secondary-color);
    }
    
    .system-message {
        color: var(--secondary-color);
    }
}

@media (min-width: 1200px) {
    #chat {
        margin-left: 2em;
        width: 24em;
    }
}

@media (min-width: 1440px) {
    #chat {
        margin-left: 10em;
    }
}

#chat button:hover { background-color: var(--bg-color-light); }
.user-link:hover { color: var(--primary-color); }
