#compose {
    margin: 0 auto;
    margin-left: 30px;
    padding: 10px;
    width: 30vw;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 5px solid var(--primary-color);
    border-radius: 12px;
}

#compose h3 {
    margin-bottom: 10px;
    text-align: center;
    color: var(--bg-color);
}

#compose label {
    margin-left: 20px;
    color: var(--bg-color);
    font-size: 16px;
}

#compose select {
    margin-left: 10px;
    width: 32%;
    font-size: 14px;
    color: var(--bg-color);
    background-color: var(--primary-color);
    resize: none;
}

#compose input {
    margin-top: 8px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 2px;
    padding-left: 5px;
    height: 20px;
    width: 30%;
    font-size: 14px;
    border: var(--bg-color);
    border-radius: 5px;
    outline: none;
}

#compose-textarea {
    padding: 5px;
    width: 95%;
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-size: 18px;
    border: 1px solid var(--bg-color);
    border-radius: 5px;
    resize: none;
    outline: none;
}

#compose-button {
    margin: 20px;
    height: 30px;
    width: 80px;
    background-color: var(--bg-color);
    color: var(--light-color);
    border: 1px solid var(--bg-color);
    border-radius: 5px;
}

#compose-button:hover {
    background-color: var(--bg-color-light);
}

#mailbox-return {
    margin-top: 20px;
    margin-left: 30px;
    text-align: center;
}
