.edit-button {
    margin-right: .5em;
    height: 1.875rem;
    width: 5rem;
    background-color: var(--bg-color);
    color: var(--light-color);
    border: .05rem solid var(--bg-color);
    border-radius: .3rem;
}

.edit-button:hover {
    background-color: var(--bg-color-light);
}