#entriesPage {
    margin-top: 100px;
}

#nodeSwitch {
    margin-left: 100px;
}

.activeNode {
    background-color: var(--primary-color);
    height: 40px;
    width: 100px;
}

.nodeButton {
    height: 40px;
    width: 100px;
}

.noEntries {
    margin: 50px;
    margin-left: 100px;
    font-size: 30px;
}

.elementArticle {
    margin: 50px;
    margin-left: 100px;
    /* height: 400px; */
    width: 800px;
    background-color: var(--secondary-color);
    border: 5px solid var(--primary-color);
    border-radius: 2px;
}

.elementTitle {
    margin: 30px;
    font-size: 24px;
    color: var(--bg-color);
}

.elementNode {
    margin: 30px;
    padding: 10px;
    color: var(--primary-color);
    background-color: var(--bg-color);
}

.elementContent {
    width: 600px;
    margin: 30px;
    color: var(--bg-color);
}

.elementAuthor {
    margin: 30px;
    color: var(--bg-color);
}

.feedButtons {
    margin-bottom: 30px;
}

.readButton {
    margin-left: 30px;
    background-color: var(--bg-color);
}

.editButton {
    margin-left: 10px;
    background-color: var(--bg-color);
}

.deleteButton {
    margin-left: 10px;
    background-color: var(--bg-color);
}