@media (max-width: 600px) {
    #switch {
        margin: 0 0 0 2em;
    }

    .active-node {
        height: 1.8rem;
        width: 5rem;
        background-color: var(--primary-color);
        border: .05rem solid var(--primary-color);
        box-shadow: .125rem .125rem 2.5rem var(--primary-color);
    }

    .node-button {
        height: 1.8rem;
        width: 5rem;
        background-color: var(--secondary-color);
        color: var(--light-color);
        border: .05rem solid var(--secondary-color);
        box-shadow: .125rem .125rem 1.25rem var(--primary-color);
    }
    
    #node-empty {
        margin: 1em;
        width: 16em;
        font-size: 1.875rem;
    }
    
    .entry {
        margin: 2em;
        width: 90%;
        background-color: var(--secondary-color);
        border: .15rem solid var(--primary-color);
        border-radius: .5rem;
        box-shadow: .3rem .3rem .5rem var(--secondary-color);
    }
    
    .entry h2 {
        display: inline-block;
        margin: 1.2em;
        font-size: 1.2rem;
        color: var(--bg-color);
    }
    
    .entry label {
        float: right;
        margin: 1em;
        padding: .5em;
        color: var(--primary-color);
        background-color: var(--bg-color);
        border-radius: .5rem;
    }
    
    .entry pre {
        margin: .5em;
        padding: 1em;
        background-color: var(--bg-color);
        color: var(--primary-color);
        white-space: pre-wrap;
        border-radius: .2em;
    }
    
    .entry-author {
        margin: 1em;
        font-size: 1.2rem;
        color: var(--bg-color);
    }
    
    .entry-guest-author {
        margin: 1em;
        font-size: 1.2rem;
        color: var(--bg-color);
    }
    
    .feed-buttons {
        margin: 0 0 1.5em 1em;
    }
    
    .delete-button {
        height: 1.875rem;
        width: 5rem;
        background-color: var(--bg-color);
        color: var(--light-color);
        border: .05rem solid var(--bg-color);
        border-radius: .3rem;
    }
    
    .credits {
        margin: .3em 1em 0 0;
        float: right;
        color: var(--bg-color);
    }
    
    .plus-btn {
        margin-right: 1em;
        float: right;
        height: 1.875rem;
        width: 3rem;
        font-size: 0.875rem;
        background-color: var(--bg-color);
        color: var(--light-color);
        border: 0.0625rem solid var(--bg-color);
        border-radius: 0.3125rem;
    }
        
    .minus-btn {
        margin-right: 1em;
        float: right;
        height: 1.875rem;
        width: 3rem;
        font-size: 0.875rem;
        background-color: var(--bg-color);
        color: var(--light-color);
        border: 0.0625rem solid var(--bg-color);
        border-radius: 0.3125rem;
    }
}



@media (min-width: 600px) {
    #switch {
        margin: 0 0 0 2em;
    }

    .active-node {
        height: 2rem;
        width: 5rem;
        background-color: var(--primary-color);
        border: .05rem solid var(--primary-color);
        box-shadow: .125rem .125rem 2.5rem var(--primary-color);
    }

    .node-button {
        height: 2rem;
        width: 5rem;
        background-color: var(--secondary-color);
        color: var(--light-color);
        border: .05rem solid var(--secondary-color);
        box-shadow: .125rem .125rem 1.25rem var(--primary-color);
    }
    
    #node-empty {
        margin: 1em;
        width: 16em;
        font-size: 1.875rem;
    }
    
    .entry {
        margin: 2em;
        width: 90%;
        background-color: var(--secondary-color);
        border: .15rem solid var(--primary-color);
        border-radius: .5rem;
        box-shadow: .3rem .3rem .5rem var(--secondary-color);
    }
    
    .entry h2 {
        display: inline-block;
        margin: 1.2em;
        font-size: 1.2rem;
        color: var(--bg-color);
    }
    
    .entry label {
        float: right;
        margin: 1.2em;
        padding: .5em;
        color: var(--primary-color);
        background-color: var(--bg-color);
        border-radius: .5rem;
    }
    
    .entry pre {
        margin: .5em;
        padding: 1em;
        background-color: var(--bg-color);
        color: var(--primary-color);
        white-space: pre-wrap;
        border-radius: .2em;
    }
    
    .entry-author {
        margin: 1em;
        font-size: 1.2rem;
        color: var(--bg-color);
    }
    
    .entry-guest-author {
        margin: 1em;
        font-size: 1.2rem;
        color: var(--bg-color);
    }
    
    .feed-buttons {
        margin: 0 0 1.5em 1em;
    }
    
    .delete-button {
        height: 1.875rem;
        width: 5rem;
        background-color: var(--bg-color);
        color: var(--light-color);
        border: .05rem solid var(--bg-color);
        border-radius: .3rem;
    }
        
    .credits {
        margin: .3em 1em 0 0;
        float: right;
        color: var(--bg-color);
    }
    
    .plus-btn {
        margin-right: 1em;
        float: right;
        height: 1.875rem;
        width: 3rem;
        font-size: 0.875rem;
        background-color: var(--bg-color);
        color: var(--light-color);
        border: 0.0625rem solid var(--bg-color);
        border-radius: 0.3125rem;
    }
        
    .minus-btn {
        margin-right: 1em;
        float: right;
        height: 1.875rem;
        width: 3rem;
        font-size: 0.875rem;
        background-color: var(--bg-color);
        color: var(--light-color);
        border: 0.0625rem solid var(--bg-color);
        border-radius: 0.3125rem;
    }
}



@media (min-width: 768px) {
    #switch {
        margin: 1.25em 0 0 2em;
    }

    .active-node {
        height: 2.25rem;
        width: 5rem;
        background-color: var(--primary-color);
        border: .05rem solid var(--primary-color);
        box-shadow: .125rem .125rem 2.5rem var(--primary-color);
    }

    .node-button {
        height: 2.25rem;
        width: 5rem;
        background-color: var(--secondary-color);
        color: var(--light-color);
        border: .05rem solid var(--secondary-color);
        box-shadow: .125rem .125rem 1.25rem var(--primary-color);
    }

    #node-empty {
        margin: 1em;
        width: 16em;
        font-size: 1.875rem;
    }
    
    .entry {
        margin: 2em;
        width: 90%;
        background-color: var(--secondary-color);
        border: .15rem solid var(--primary-color);
        border-radius: .5rem;
        box-shadow: .3rem .3rem .5rem var(--secondary-color);
    }
    
    .entry h2 {
        display: inline-block;
        margin: 1.2em;
        font-size: 1.2rem;
        color: var(--bg-color);
    }
    
    .entry label {
        float: right;
        margin: 1.2em;
        padding: .5em;
        color: var(--primary-color);
        background-color: var(--bg-color);
        border-radius: .5rem;
    }
    
    .entry pre {
        margin: .5em;
        padding: 1em;
        background-color: var(--bg-color);
        color: var(--primary-color);
        white-space: pre-wrap;
        border-radius: .2em;
    }
    
    .entry-author {
        margin: 1em;
        font-size: 1rem;
        color: var(--bg-color);
    }
    
    .entry-guest-author {
        margin: 1em;
        font-size: 1rem;
        color: var(--bg-color);
    }
    
    .feed-buttons {
        margin: 0 0 1.5em 1em;
    }
    
    .delete-button {
        height: 1.875rem;
        width: 5rem;
        background-color: var(--bg-color);
        color: var(--light-color);
        border: .05rem solid var(--bg-color);
        border-radius: .3rem;
    }
        
    .credits {
        margin: .3em 1em 0 0;
        float: right;
        color: var(--bg-color);
    }
    
    .plus-btn {
        margin-right: 1em;
        float: right;
        height: 1.875rem;
        width: 3rem;
        font-size: 0.875rem;
        background-color: var(--bg-color);
        color: var(--light-color);
        border: 0.0625rem solid var(--bg-color);
        border-radius: 0.3125rem;
    }
        
    .minus-btn {
        margin-right: 1em;
        float: right;
        height: 1.875rem;
        width: 3rem;
        font-size: 0.875rem;
        background-color: var(--bg-color);
        color: var(--light-color);
        border: 0.0625rem solid var(--bg-color);
        border-radius: 0.3125rem;
    }
}



@media (min-width: 992px) {
    #switch {
        margin: 0 0 0 2em;
    }

    .active-node {
        height: 2.4rem;
        width: 5.2rem;
        background-color: var(--primary-color);
        border: .05rem solid var(--primary-color);
        box-shadow: .125rem .125rem 2.5rem var(--primary-color);
    }

    .node-button {
        height: 2.4rem;
        width: 5.2rem;
        background-color: var(--secondary-color);
        color: var(--light-color);
        border: .05rem solid var(--secondary-color);
        box-shadow: .125rem .125rem 1.25rem var(--primary-color);
    }
    
    #node-empty {
        margin: 1em;
        width: 16em;
        font-size: 1.875rem;
    }
    
    .entry {
        margin: 2em;
        width: 35em;
        background-color: var(--secondary-color);
        border: .15rem solid var(--primary-color);
        border-radius: .5rem;
        box-shadow: .3rem .3rem .5rem var(--secondary-color);
    }
    
    .entry h2 {
        display: inline-block;
        margin: 1.2em;
        font-size: 1.2rem;
        color: var(--bg-color);
    }
    
    .entry label {
        float: right;
        margin: 1.2em;
        padding: .5em;
        color: var(--primary-color);
        background-color: var(--bg-color);
        border-radius: .5rem;
    }
    
    .entry pre {
        margin: .5em;
        padding: 1em;
        background-color: var(--bg-color);
        color: var(--primary-color);
        white-space: pre-wrap;
        border-radius: .2em;
    }
    
    .entry-author {
        margin: 1em;
        font-size: 1rem;
        color: var(--bg-color);
    }
    
    .entry-guest-author {
        margin: 1em;
        font-size: 1rem;
        color: var(--bg-color);
    }
    
    .feed-buttons {
        margin: 0 0 1.5em 1.5em;
    }
    
    .delete-button {
        height: 1.875rem;
        width: 5rem;
        background-color: var(--bg-color);
        color: var(--light-color);
        border: .05rem solid var(--bg-color);
        border-radius: .3rem;
    }
        
    .credits {
        margin: .3em 1em 0 0;
        float: right;
        color: var(--bg-color);
    }
    
    .plus-btn {
        margin-right: 1.5em;
        float: right;
        height: 1.875rem;
        width: 3rem;
        font-size: 0.875rem;
        background-color: var(--bg-color);
        color: var(--light-color);
        border: 0.0625rem solid var(--bg-color);
        border-radius: 0.3125rem;
    }
        
    .minus-btn {
        margin-right: 1.5em;
        float: right;
        height: 1.875rem;
        width: 3rem;
        font-size: 0.875rem;
        background-color: var(--bg-color);
        color: var(--light-color);
        border: 0.0625rem solid var(--bg-color);
        border-radius: 0.3125rem;
    }
}

@media (min-width: 1200px) {
    #switch {
        margin: 0 0 0 2em;
    }

    .active-node {
        height: 2.4rem;
        width: 5.2rem;
        background-color: var(--primary-color);
        border: .05rem solid var(--primary-color);
        box-shadow: .125rem .125rem 2.5rem var(--primary-color);
    }

    .node-button {
        height: 2.4rem;
        width: 5.2rem;
        background-color: var(--secondary-color);
        color: var(--light-color);
        border: .05rem solid var(--secondary-color);
        box-shadow: .125rem .125rem 1.25rem var(--primary-color);
    }
    
    #node-empty {
        margin: 1em;
        width: 26em;
        font-size: 1.875rem;
    }
    
    .entry {
        margin: 2em;
        width: 48em;
        background-color: var(--secondary-color);
        border: .15rem solid var(--primary-color);
        border-radius: .5rem;
        box-shadow: .3rem .3rem .5rem var(--secondary-color);
    }
    
    .entry h2 {
        display: inline-block;
        margin: 1.2em;
        font-size: 1.2rem;
        color: var(--bg-color);
    }
    
    .entry label {
        float: right;
        margin: 1.2em;
        padding: .5em;
        color: var(--primary-color);
        background-color: var(--bg-color);
        border-radius: .5rem;
    }
    
    .entry pre {
        margin: 1em;
        padding: 1em;
        background-color: var(--bg-color);
        color: var(--primary-color);
        white-space: pre-wrap;
        border-radius: .2em;
    }
    
    .entry-author {
        margin: 1em 0 0 1.5em;
        font-size: 1rem;
        color: var(--bg-color);
    }
    
    .entry-guest-author {
        margin: 1em 0 0 1.5em;
        font-size: 1rem;
        color: var(--bg-color);
    }
    
    .feed-buttons {
        margin: 0 0 1.5em 1.5em;
    }
    
    .delete-button {
        height: 1.875rem;
        width: 5rem;
        background-color: var(--bg-color);
        color: var(--light-color);
        border: .05rem solid var(--bg-color);
        border-radius: .3rem;
    }
    
    .credits {
        margin: .3em 1em 0 0;
        float: right;
        color: var(--bg-color);
    }
    
    .plus-btn {
        margin-right: 1.5em;
        float: right;
        height: 1.875rem;
        width: 3rem;
        font-size: 0.875rem;
        background-color: var(--bg-color);
        color: var(--light-color);
        border: 0.0625rem solid var(--bg-color);
        border-radius: 0.3125rem;
    }
    
    .minus-btn {
        margin-right: 1.5em;
        float: right;
        height: 1.875rem;
        width: 3rem;
        font-size: 0.875rem;
        background-color: var(--bg-color);
        color: var(--light-color);
        border: 0.0625rem solid var(--bg-color);
        border-radius: 0.3125rem;
    }
}

@media (min-width: 1440px) {
    #switch {
        margin: 0 0 0 4em;
    }

    .active-node {
        height: 2.4rem;
        width: 5.2rem;
        background-color: var(--primary-color);
        border: .05rem solid var(--primary-color);
        box-shadow: .125rem .125rem 2.5rem var(--primary-color);
    }

    .node-button {
        height: 2.4rem;
        width: 5.2rem;
        background-color: var(--secondary-color);
        color: var(--light-color);
        border: .05rem solid var(--secondary-color);
        box-shadow: .125rem .125rem 1.25rem var(--primary-color);
    }
    
    #node-empty {
        margin: 2em 1em 1em 2em;
        width: 32em;
        font-size: 1.875rem;
    }
    
    .entry {
        margin: 4em;
        width: 56em;
        background-color: var(--secondary-color);
        border: .15rem solid var(--primary-color);
        border-radius: .5rem;
        box-shadow: .3rem .3rem .5rem var(--secondary-color);
    }
    
    .entry h2 {
        display: inline-block;
        margin: 1.2em;
        font-size: 1.5rem;
        color: var(--bg-color);
    }
    
    .entry label {
        float: right;
        margin: 1.2em;
        padding: .5em;
        color: var(--primary-color);
        background-color: var(--bg-color);
        border-radius: .5rem;
    }
    
    .entry pre {
        margin: 1em;
        padding: 1em;
        background-color: var(--bg-color);
        color: var(--primary-color);
        white-space: pre-wrap;
        border-radius: .2em;
    }
    
    .entry-author {
        margin: 1em 0 0 1.5em;
        font-size: 1rem;
        color: var(--bg-color);
    }
    
    .entry-guest-author {
        margin: 1em 0 0 1.5em;
        font-size: 1rem;
        color: var(--bg-color);
    }
    
    .feed-buttons {
        margin: 0 0 1.5em 1.5em;
    }
    
    .delete-button {
        height: 1.875rem;
        width: 5rem;
        background-color: var(--bg-color);
        color: var(--light-color);
        border: .05rem solid var(--bg-color);
        border-radius: .3rem;
    }
    
    .credits {
        margin: .3em 1em 0 0;
        float: right;
        color: var(--bg-color);
    }
    
    .plus-btn {
        margin-right: 2em;
        float: right;
        height: 1.875rem;
        width: 3rem;
        font-size: 0.875rem;
        background-color: var(--bg-color);
        color: var(--light-color);
        border: 0.0625rem solid var(--bg-color);
        border-radius: 0.3125rem;
    }
    
    .minus-btn {
        margin-right: 2em;
        float: right;
        height: 1.875rem;
        width: 3rem;
        font-size: 0.875rem;
        background-color: var(--bg-color);
        color: var(--light-color);
        border: 0.0625rem solid var(--bg-color);
        border-radius: 0.3125rem;
    }
}

.node-button:hover { background-color: var(--primary-color); }
.entry-author:hover { color: var(--primary-color); }
.delete-button:hover { background-color: var(--bg-color-light); }
.plus-btn:hover { background-color: var(--bg-color-light); }
.minus-btn:hover { background-color: var(--bg-color-light); }