#entries-page {
    margin-top: 100px;
}

#node-switch {
    margin-left: 100px;
}

.active-node {
    background-color: var(--primary-color);
    height: 40px;
    width: 100px;
}

.node-button {
    height: 40px;
    width: 100px;
}

.node-button:hover {
    background-color: var(--primary-color);
}

#no-entries {
    margin: 50px;
    margin-left: 100px;
    width: 810px;
    font-size: 30px;
}

.element-article {
    margin: 50px;
    margin-left: 100px;
    width: 800px;
    background-color: var(--secondary-color);
    border: 5px solid var(--primary-color);
    border-radius: 4px;
}

.element-title {
    margin: 30px;
    font-size: 24px;
    color: var(--bg-color);
}

.element-node {
    margin: 30px;
    padding: 10px;
    color: var(--primary-color);
    background-color: var(--bg-color);
    border: 1px solid var(--bg-color);
    border-radius: 5px;
}

.element-content {
    margin: 30px;
    width: 700px;
    color: var(--bg-color);
    white-space: pre-wrap;
}

.element-author {
    margin: 30px;
    color: var(--bg-color);
}

.element-guest-author {
    margin-left: 30px;
    color: var(--bg-color);
}

.feed-buttons {
    margin-bottom: 30px;
}

.delete-button {
    margin-left: 10px;
    background-color: var(--bg-color);
    border: 1px solid var(--bg-color);
    border-radius: 5px;
}

.delete-button:hover {
    background-color: var(--bg-color-light);
}

.credits-counter {
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 20px;
    float: right;
    color: var(--bg-color);
}

.plus-button {
    margin-top: 20px;
    margin-right: 30px;
    float: right;
    font-size: 14px;
    background-color: var(--bg-color);
    border: 1px solid var(--bg-color);
    border-radius: 5px;
}

.plus-button:hover {
    background-color: var(--bg-color-light);
}

.minus-button {
    margin-top: 20px;
    margin-right: 30px;
    float: right;
    font-size: 14px;
    background-color: var(--bg-color);
    border: 1px solid var(--bg-color);
    border-radius: 5px;
}

.minus-button:hover {
    background-color: var(--bg-color-light);
}