@media (max-width: 600px) {
    footer {
        margin: 1em 0 3em 0;
        text-align: center;
    }
    
    footer p {
        margin-top: 1em;
        font-size: .625rem;
    }
}

@media (min-width: 600px) {
    footer {
        margin: 1em 0 3em 0;
        text-align: center;
    }
    
    footer p {
        margin-top: 1em;
        font-size: .625rem;
    }
}
@media (min-width: 768px) {
    footer {
        margin: 2em 0 3em 0;
    }
}