#full-replies {
    background-color: var(--bg-color);
    margin: 0 auto;
    margin-bottom: 100px;
    color: var(--primary-color);
    width: 40vw;
    border: 0.3125rem solid var(--primary-color);
    border-radius: 15px;
}

.single-full-reply {
    padding: 20px;
    color: var(--primary-color);
}

.single-full-reply a {
    color: var(--secondary-color);
}

.single-full-reply a:hover {
    color: var(--primary-color);
}