header {
    margin-top: 10px;
    height: 80px;
    background-color: var(--bg-color);
    color: var(--primary-color);
    text-align: center;
}

#welcome {
    text-align: right;
    margin-right: 120px;
    margin-top: 20px;
}

#login-bar-button {
    margin-right: 150px;
}

#login-bar-button:hover {
    background-color: var(--primary-color);
}

#logout-bar-button {
    margin-right: 30px;
}