header {
    margin-top: 10px;
    height: 80px;
    background-color: var(--bg-color);
    color: var(--primary-color);
    text-align: center;
}

#welcome {
    margin-top: 20px;
    margin-right: 120px;
    text-align: right;
    text-shadow: 2px 2px 20px var(--secondary-color);
}

#login-bar-button {
    margin-right: 150px;
}

#login-bar-button:hover {
    background-color: var(--primary-color);
}

#logout-bar-button {
    margin-right: 30px;
}

.bar-button {
    margin-top: 20px;
    height: 30px;
    width: 80px;
    background-color: var(--secondary-color);
    color: var(--light-color);
    border: 1px solid var(--primary-color);
}

.bar-button:hover {
    background-color: var(--primary-color);
}