header {
    margin-top: 10px;
    height: 80px;
    background-color: var(--bg-color);
    color: var(--primary-color);
    text-align: center;
}

header h1 {
    margin-top: 20px;
    margin-right: 120px;
    color: var(--light-color);
    text-align: right;
    animation-name: welcome;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes welcome {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
            0 0 4px var(--primary-color),
            0 0 11px var(--primary-color),
            0 0 19px var(--primary-color),
            0 0 40px var(--primary-color),
            0 0 80px var(--primary-color),
            0 0 90px var(--primary-color),
            0 0 100px var(--primary-color),
            0 0 150px var(--primary-color);
    }
    20%, 24%, 55% {       
        text-shadow: none;
    }
}

header nav {
    margin-right: 140px;
    text-align: right;
}

header nav h4 {
    margin-top: 10px;
    margin-right: 70px;
}

#login-bar-button {
    margin-top: 20px;
    margin-right: 150px;
    height: 30px;
    width: 80px;
    background-color: var(--secondary-color);
    color: var(--light-color);
    border: 1px solid var(--primary-color);
}

#login-bar-button:hover {
    background-color: var(--primary-color);
}

#logout-bar-button {
    margin-right: 30px;
}

.bar-button {
    margin-top: 20px;
    height: 30px;
    width: 80px;
    background-color: var(--secondary-color);
    color: var(--light-color);
    border: 1px solid var(--primary-color);
}

.bar-button:hover {
    background-color: var(--primary-color);
}