#look {
    margin: 0 auto;
    margin-top: 200px;
    height: 400px;
    width: 40%;
    background-color: var(--bg-color);
    border: 0.3125rem solid var(--primary-color);
    border-radius: 0.3125rem;
}

#look h2 {
    margin: 5px;
    background-color: var(--primary-color);
    color: var(--bg-color);
    text-align: center;
}

#look table {
    margin: 20px 0px 0px 50px;
    width: 100%;
}

#look button {
    height: 30px;
    width: 80px;
    background-color: var(--secondary-color);
    color: var(--light-color);
    border: 0.0625rem solid var(--primary-color);
}

#look button:hover {
    background-color: var(--primary-color);
}

#authored {
    vertical-align: top;
}

#look a {
    text-decoration: none;
    color: var(--secondary-color);    
}

#look a:hover {
    color: var(--primary-color);
}