#look {
    margin: 0 auto;
    margin-top: 200px;
    height: 400px;
    width: 40%;
    background-color: var(--bg-color);
    border: 5px solid var(--primary-color);
    border-radius: 5px;
}

#look-header {
    margin: 5px;
    background-color: var(--primary-color);
    color: var(--bg-color);
    text-align: center;
}

#look-username {
    margin-top: 20px;
    margin-left: 30px;
    font-size: 20px;
}

#look-entered {
    margin-left: 30px;
}

#look-authored {
    margin-top: 20px;
    margin-left: 30px;
    font-size: 14px;
}

#authored-entries-heading {
    margin-bottom: 5px;
}

.authored-link {
    text-decoration: none;
    color: var(--secondary-color);    
}

.authored-link:hover {
    color: var(--primary-color);
}

#look-return {
    margin-left: 30px;
}