/* Both UIs */
#pm-table {
    margin: 0 auto;
    margin-top: 30px;
}

.pm-table-td {
    vertical-align: top;
}



/* Mailbox UI */
#mailbox {
    margin: 0 auto;
    height: 680px;
    width: 50vw;
    color: var(--primary-color);
    border: 8px solid var(--primary-color);
    border-radius: 10px;
    overflow-y: scroll;
}

#mailbox-header {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: var(--bg-color);
    background-color: var(--secondary-color);
}

#mailbox-switch {
    text-align: center;
}

#mailbox-switch button {
    margin-top: 10px;
    height: 30px;
    width: 80px;
    background-color: var(--secondary-color);
    color: var(--light-color);
    border: 1px solid var(--bg-color);
}

#mailbox-switch button:hover {
    background-color: var(--primary-color);
}

.active-box {
    background-color: var(--primary-color);
}



/* Private messages table */
#pm-data {
    margin-top: 10px;
    width: 100%;
    border: 1px solid var(--primary-color);
    border-collapse: collapse;
}

.pm-data-heading {
    padding: 5px;
    color: var(--bg-color);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.pm-data-row:hover {
    background-color: var(--secondary-color);
    color: var(--bg-color);
}

.pm-data-msg {
    padding: 5px;
    font-size: 14px;
    text-align: center;
    border: 1px solid var(--primary-color);
}

.pm-data-msg-subject {
    padding: 5px;
    width: 22%;
    font-size: 14px;
    text-align: center;
    border: 1px solid var(--primary-color);
}

.pm-data-msg-body {
    padding: 5px;
    width: 60%;
    font-size: 14px;
    border: 1px solid var(--primary-color);
}

.sender-link {
    color: var(--primary-color);
}

.sender-link:hover {
    color: var(--bg-color);
}

.mail-btn {
    margin: 0;
    height: 30px;
    width: 30px;
    background-color: var(--secondary-color);
    border: 1px solid var(--bg-color);
}

.mail-btn:hover {
    background-color: var(--primary-color);
}