#pm-table {
  margin: 0 auto;
  margin-top: 30px;
}

.pm-table-td {
  vertical-align: top;
}

#mailbox {
  margin: 0 auto;
  color: var(--primary-color);
  height: 680px;
  width: 40vw;
  border: 8px solid var(--primary-color);
  border-radius: 15px;
}

#mailbox-header {
  text-align: center;
  color: var(--bg-color);
  background-color: var(--secondary-color);
  padding-top: 10px;
  padding-bottom: 10px;
}

#mailbox-switch {
  text-align: center;
}

#mailbox-return {
  margin-top: 100px;
  margin-left: 300px;
}

.active-box {
  background-color: var(--primary-color);
}