/* Both UIs */
#pm-table {
  margin: 0 auto;
  margin-top: 30px;
}

.pm-table-td {
  vertical-align: top;
}



/* Mailbox UI */
#mailbox {
  margin: 0 auto;
  color: var(--primary-color);
  height: 680px;
  width: 40vw;
  border: 8px solid var(--primary-color);
  border-radius: 15px;
  overflow-y: scroll;
}

#mailbox-header {
  text-align: center;
  color: var(--bg-color);
  background-color: var(--secondary-color);
  padding-top: 10px;
  padding-bottom: 10px;
}

#mailbox-switch {
  text-align: center;
}

#mailbox-return {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 300px;
}

.active-box {
  background-color: var(--primary-color);
}



/* Private messages table */
#pm-data {
  margin-top: 10px;
  width: 100%;
  border: 1px solid var(--primary-color);
}

.pm-data-heading {
  padding: 5px;
  color: var(--bg-color);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.pm-data-heading-subject {
  padding: 5px;
  color: var(--bg-color);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.pm-heading-num {
  padding: 5px;
}

.pm-data-row:hover {
  background-color: var(--secondary-color);
  color: var(--bg-color);
}

.pm-data-msg {
  text-align: center;
  padding: 5px;
  border: 1px solid var(--primary-color);
  font-size: 14px;
}

.pm-data-msg-subject {
  text-align: center;
  width: 22%;
  padding: 5px;
  border: 1px solid var(--primary-color);
  font-size: 14px;
}

.pm-data-msg-body {
  padding: 5px;
  width: 60%;
  border: 1px solid var(--primary-color);
  font-size: 14px;
}