#not-found-div {
    margin: auto;
    position: absolute;
    top: 32%;
    left: 33%;
    text-align: center;
}

#not-found-error {
    margin: auto;
    font-size: 100px;
}

#not-found-link {
    font-size: 24px;
}