#profile {
    margin: 0 auto;
    margin-top: 100px;
    height: 640px;
    width: 40vw;
    color: var(--primary-color);
    border: 0.5rem solid var(--primary-color);
    border-radius: 0.625rem;
}

#profile h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: var(--bg-color);
    background-color: var(--secondary-color);
}

#profile article {
    padding: 50px;
}

.authored-link {
    color: var(--secondary-color);    
    font-size: 1rem;
    text-decoration: none;
}

.authored-link:hover {
    color: var(--primary-color);
}

#profile div {
    margin-top: 200px;
    text-align: center;
}