@media (max-width: 600px) {
    #profile {
        margin: 4em;
        color: var(--primary-color);
        border: 0.5rem solid var(--primary-color);
        border-radius: 0.625rem;
    }
    
    #profile h3 {
        padding: .8em;
        text-align: center;
        color: var(--bg-color);
        background-color: var(--secondary-color);
    }
    
    #profile article {
        padding: 2em;
    }
    
    .authored-link {
        font-size: 1rem;
        color: var(--secondary-color);    
        text-decoration: none;
    }
    
    .authored-link:hover {
        color: var(--primary-color);
    }
    
    #profile div {
        margin: 2em;
        text-align: center;
    }
}

@media (min-width: 600px) {
    #profile {
        margin: 4em;
        color: var(--primary-color);
        border: 0.5rem solid var(--primary-color);
        border-radius: 0.625rem;
    }
    
    #profile h3 {
        padding: .8em;
        text-align: center;
        color: var(--bg-color);
        background-color: var(--secondary-color);
    }
    
    #profile article {
        padding: 2em;
    }
    
    .authored-link {
        font-size: 1rem;
        color: var(--secondary-color);    
        text-decoration: none;
    }
    
    .authored-link:hover {
        color: var(--primary-color);
    }
    
    #profile div {
        margin: 2em;
        text-align: center;
    }
}

@media (min-width: 768px) {
    #profile article {
        padding: 4em;
    }

    #profile div {
        margin: 3em;
    }
}
