.read-button {
    margin-left: 30px;
    background-color: var(--bg-color);
    border: 1px solid var(--bg-color);
    border-radius: 5px;
}

.read-button:hover {
    background-color: var(--bg-color-light);
}