#read {
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 100px;
    width: 80vw;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 0.3125rem solid var(--primary-color);
    border-radius: 0.3125rem;
}

#read h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: var(--bg-color);
    background-color: var(--secondary-color);
}

#read pre {
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
    color: var(--primary-color);
    background-color: var(--bg-color);
    white-space: pre-wrap;
}

#read p {
    padding: 40px;
    color: var(--primary-color);
    background-color: var(--bg-color);
}

#read p a {
    margin-right: 10px;
    color: var(--secondary-color);
}

#read p a:hover {
    color: var(--primary-color);
}

#read-return {
    margin-left: 40px;
    margin-bottom: 20px;
}
