#reply {
    background-color: var(--secondary-color);
    margin: 0 auto;
    margin-bottom: 100px;
    color: var(--primary-color);
    width: 50vw;
    border: 5px solid var(--primary-color);
    border-radius: 15px;
}

#reply-header {
    color: var(--bg-color);
    margin: 20px;
}

#reply-textarea {
    background-color: var(--bg-color);
    color: var(--primary-color);
    display: flex;
    margin: 0 auto;
    font-size: 18px;
    resize: none;
    width: 95%;
    outline: none;
    padding: 5px;
}

#reply-button {
    margin: 20px;
    background-color: var(--bg-color);
}

#reply-button:hover {
    background-color: var(--bg-color-light);
}