.return-button-dark {
    margin-top: 20px;
    height: 30px;
    width: 80px;
    background-color: var(--bg-color);
    color: var(--light-color);
    border: 0.0625rem solid var(--bg-color);
}

.return-button-dark:hover {
    background-color: var(--bg-color-light);
}