.return-button-light {
    height: 30px;
    width: 80px;
    background-color: var(--secondary-color);
    color: var(--light-color);
    border: 0.0625rem solid var(--primary-color);
}

.return-button-light:hover {
    background-color: var(--primary-color);
}
