#replies {
    background-color: var(--bg-color);
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

.single-reply {
    padding: 10px;
    font-size: 12px;
}

.short-reply-username {
    color: var(--secondary-color);
}

.short-reply-username:hover {
    color: var(--primary-color);
}