#short-replies {
    margin: 1em 1em 0 1em;
    background-color: var(--bg-color);
    border-radius: .5em;
}

.short-reply {
    padding: .8em;
    font-size: .7rem;
}

.short-reply-username {
    color: var(--secondary-color);
}

.short-reply-username:hover {
    color: var(--primary-color);
}