@font-face {
  font-family: 'JetBrainsMono-Regular';
  src: local('JetBrainsMono-Regular'), url(./fonts/JetBrainsMono-Regular.ttf);
}

body {
  font-family: JetBrainsMono-Regular;
  color: green;
  background-color: black;
}

.headTitle {
  font-size: 38px;
  text-align: center;
}

.feedBox {
  margin: 40px;
  padding: 40px;
  width: 800px;
  background-color: rgb(0, 50, 0);
}

.addPostBox {
  margin: 40px;
  padding: 40px;
  width: 600px;
  background-color: rgb(0, 50, 0);
}