@font-face {
    font-family: JetBrainsMono Regular;
    src: url('./fonts/JetBrainsMono-Regular.ttf');
}

:root {
    --primary-color: rgb(0, 160, 0);
    --secondary-color: rgb(0, 120, 0);
    --light-color: white;
    --bg-color: black;
    --bg-color-light: #202020;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

* {
  margin: 0;
  padding: 0;
  font-family: JetBrainsMono Regular;
}

body {
  color: var(--primary-color);
  background-color: var(--bg-color);
  overflow-y: scroll;
}